API_ENDPOINT = "https://members.dyndns.org/v3/update"
DNS_RESOLVER1 = "https://myipv4.p1.opendns.com/get_my_ip"
DNS_RESOLVER2 ="https://api.iplocation.net/?cmd=get-ip"
DYNDNS_USERNAME = "DynIPUpdater_USERNAME"
DYNDNS_UPDATER_KEY =  "DynIPUpdater_UPDATER_KEY"
SCHEDULE_INTERVAL = 15
HOSTNAME = "<YOUR DOMAIN>.dyndns.org"
